<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'save_personnel' %}" method="post">
        {% csrf_token %}
        <p>nom : <input type="text" name="nom"></p>
        <p>prenom : <input type="text" name="prenom"></p>
        <p>adresse : <input type="text" name="adresse"></p>
        <p>contact : <input type="number" name="contact"></p>
        <p>
            poste : 
            <select name="poste">
                <option value="">Liste postes</option>
                {% for poste in postes %}
                <option value="{{ poste.id }}">{{ poste.designation }}</option>
                {% endfor %}
            </select>
        </p>
        <input type="submit" value="sauvegarder">  
    </form>
</body>
</html>